@use '/src/styles/constants/colors';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 9px;

  .leftArrow {
    width: 27px;
    height: 27px;
    margin-top: 6px;
  }

  .saveButton {
    width: 80px;
    height: 36px;
    font-size: 18px;
    color: colors.$MAIN_TEXT;
    background-color: colors.$BG_B4;
    border-radius: 10px;
  }
}
