@use '/src/styles/constants/colors';
@use '/src/styles/mixins/animation';

.container {
  height: 100%;
  padding: 30px 16px;
  background-color: colors.$BG_F5;

  .contents {
    margin-top: 60px;

    .settingBox {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 60px;
      padding: 0 16px;
      margin-top: 40px;
      background-color: colors.$WHITE;
      border-radius: 10px;

      p {
        font-size: 18px;
        color: colors.$MAIN_TEXT;
      }

      .rightWrapper {
        display: flex;
        align-items: center;

        span {
          font-size: 12px;
          line-height: 20px;
          color: colors.$MAIN_TEXT;
        }

        .dropdownToggle {
          width: 20px;
          height: 20px;
          margin-left: 6px;
          color: colors.$BG_B4;

          svg {
            width: 14px;
            height: 14px;
            fill: colors.$BG_B4;
            rotate: 90deg;
          }
        }

        .upDown {
          svg {
            rotate: 270deg;
          }
        }
      }
    }

    .settingBoxChild {
      display: none;
      margin-top: 16px;
      background-color: colors.$WHITE;
      border-radius: 10px;
    }

    .open {
      display: block;
      animation: fadeInDown 0.4s;
    }

    // .timer {
    // }

    // .todayQuizCount {
    // }

    .quizEdit {
      .searchAddWrapper {
        position: relative;

        .searchListBox {
          display: flex;
          justify-content: center;
        }

        .addLink {
          position: absolute;
          right: 20px;
          bottom: 20px;
          width: 38px;
          height: 38px;

          &:hover {
            right: 18px;
            bottom: 18px;
            width: 42px;
            height: 42px;
          }

          svg {
            fill: colors.$SVG_80;
          }
        }
      }
    }

    .clearAll {
      .clearAllButton {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 60px;
        padding: 0 16px;
        margin-top: 40px;
        font-size: 18px;
        color: colors.$SUB_RED;
        background-color: colors.$WHITE;
        border: 1px solid colors.$SUB_RED;
        border-radius: 10px;

        &:hover {
          background-color: colors.$DELETE_RED;
        }
      }
    }
  }
}
