@use '/src/styles/constants/colors';

// 등장 애니메이션 : 페이드인 / 페이드 아웃
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: colors.$MAIN_TEXT;
  padding: 20px;
  border: 1px solid #d9d9d9;

  //  Header
  .header {
    display: flex;
    justify-content: right;
    height: 80px;

    // Floating Message
    .floatingMessage {
      display: flex;
      position: relative;
      top: 20px;
      left: 10px;

      &.fadein {
        animation: fadein 0.5s;
      }

      &.fadeout {
        opacity: 0;
        animation: fadeout 0.5s;
      }
    }

    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.2;
      letter-spacing: 0.8px;
      color: colors.$SUB_TEXT;
    }

    .settingIcon {
      fill: colors.$SVG_80;
    }
  }

  // Main
  .logoInfo {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 330px;
    height: 250px;
    border-radius: 15px;
    margin: auto;
    background: colors.$BG_D9;
    transition: all ease 0.5s;
    background: linear-gradient(to top, colors.$YELLOW 50%, colors.$BG_D9 50%);
    background-size: 100% 200%;
    background-position: top;
    user-select: none;

    &.fillColor {
      background-position: bottom;
    }

    .logoTitle {
      transform: translateY(50%);
      font-weight: 700;

      .topText {
        padding-bottom: 20px;
        font-size: 20px;
      }

      h1 {
        font-size: 32px;
      }

      .bottomText {
        font-size: 16px;
      }
    }
    .logo {
      position: absolute;
      right: -10px;
      bottom: -50px;
      width: 126px;
      height: 126px;
    }
  }

  // Footer
  .footer {
    width: 330px;
    height: 64px;
    border-radius: 15px;
    margin: 0 auto;
    background: colors.$BG_B4;
    line-height: 64px;
    text-align: center;
    color: colors.$MAIN_TEXT;
    transition: all ease 0.5s;
    background: linear-gradient(to top, colors.$YELLOW 50%, colors.$BG_B4 50%);
    background-size: 100% 200%;
    background-position: top;

    &.fillColor {
      background-position: bottom;
    }

    button {
      font-weight: 700;
      font-size: 20px;
    }
  }
}
