@use '/src/styles/constants/colors';

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: colors.$MAIN_TEXT;
  padding: 20px;
  border: 1px solid #d9d9d9;

  //  Header
  .header {
    display: flex;
    justify-content: right;
    height: 120px;

    .floatingMessage {
      display: flex;
      position: relative;
      top: 20px;
      left: 10px;
    }

    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.2;
      letter-spacing: 0.8px;
      color: colors.$SUB_TEXT;
    }

    .settingIcon {
      fill: colors.$SVG_80;
    }
  }

  // Main
  .logoInfo {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 330px;
    height: 250px;
    border-radius: 15px;
    margin: auto;
    background: colors.$BG_D9;

    .logoTitle {
      transform: translateY(50%);
      font-weight: bold;

      .topText {
        padding-bottom: 20px;
        font-size: 20px;
      }

      h1 {
        font-size: 32px;
      }

      .bottomText {
        font-size: 16px;
      }
    }
    .logo {
      position: absolute;
      right: -10px;
      bottom: -50px;
      width: 126px;
      height: 126px;
    }
  }

  // Footer
  .footer {
    width: 330px;
    height: 64px;
    border-radius: 15px;
    margin: 0 auto;
    background: colors.$BG_B4;
    line-height: 64px;
    text-align: center;
    color: colors.$MAIN_TEXT;

    button {
      font-weight: bold;
      font-size: 20px;
    }
  }
}
