@use '/src/styles/constants/colors';

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 330px;
  height: 66px;
  margin-bottom: 16px;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 6%), 0 1px 2px rgba(0, 0, 0, 24%);

  .point {
    width: 37px;
    height: inherit;
    font-size: 12px;
    font-weight: bold;
    line-height: 66px;
    color: colors.$MAIN_TEXT;
    text-align: center;
    background-color: colors.$MAIN_BLUE;
    border-radius: 15px 0 0 15px;
  }

  .isGreen {
    background-color: colors.$MAIN_GREEN;
  }

  p {
    width: 232px;
    overflow: hidden;
    font-size: 14px;
    color: colors.$MAIN_TEXT;
    text-align: left;
    text-overflow: ellipsis;
  }

  .rightArrow {
    margin-right: 10px;

    svg {
      width: 16px;
      height: 16px;
      fill: colors.$SVG_80;
    }
  }
}
